// BREAKPOINTS
$break-small          : 450px;
$break-medium         : 700px;
$break-large-medium   : 1000px;
$break-fishtank       : 1020px;
$break-large          : 1100px;

// GRIDS
$collapse-grid-at     : $break-medium;