%clearfix {
  *zoom: 1;
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
}

.no-mobile {
  @media(max-width: $break-medium) {
    display: none;
  }
}

.mobile {
  display: none;
  @media(max-width: $break-medium) {
    display: block;
  }
}