@charset "utf-8";
@import"compass";
@import"reset";
@import "config";
@import "mixins";
@import "grid";
@import "patterns";
@import "helpers";

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$main-color: #378dca;
$accent-color: #f9f3af;
$background: #f4f4f4;
$red: #f02f30;

$headline: "Oswald";

h2 {
  font-family: $headline;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
}

p {
  font-family: "Vollkorn";
  font-size: 20px;
  line-height: 32px;
  color: #333;
  margin-bottom: 30px;
}
.grid {
  @extend %grid;
}

.m-two {
  @extend %grid-u-1-2;
}

.m-three {
  @extend %grid-u-2-5;
  height: 100vh;
  margin: 0 auto;
}

.m-one {
  @extend %grid-u-4-5;
  margin: 0 auto;
  height: 100vh;
}

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.m-hero {
  background: url(../images/ramla-color.jpg);
  @include prefix(background-size, cover);
  background-attachment: fixed;
  background-position: top;
}

.m-hero__title {
  @extend %p-fade-in;
  color: $main-color;
  font-family: $headline;
  font-size: 140px;
  line-height: 150px;
  // font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  opacity: 0;
  padding: 7% 10% 8% 10%;
  text-shadow: 2px 1px #fff;
}

.m-section {
  @extend %clearfix;
  min-height: 100vh;
  width: 100%;
  background-color: $background;
  &.black {
    background-color: $red;
  }
  border-top: 5px solid $accent-color;
}

.m-section__intro {
  p:first-child:first-letter { 
    float: left; 
    color: $red;
    font-size: 100px;
    font-weight: 900;
    font-family: "Playfair Display";
    line-height: 85px;
    padding: 0 10px 0px 5px;
  }
}

.m-section__quote {
  position: relative;
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  &.quote-right {
    float: right;
    margin-top: 30%;
    max-width: 700px;
    margin-right: 5%;
  }

  &.quote-center {
    font-size: 40px;
    line-height: 50px;
    
    .black & {
      color: #fff;
    }

  }

  &.quote-left {
  float: left;
  max-width: 700px;
  margin-top: 20%;
  margin-left: 5%;
  
  }
}

.julie {
  background: url(../images/julie.jpg); 
  @include prefix(background-size, cover);
  background-attachment: fixed; 
  color: #000;
  font-size: 30px;
  line-height: 40px;
  // text-shadow: 1px 1px #fff;
}

.ngan {
  background: url(../images/ngankat2.jpg); 
  @include prefix(background-size, cover);
  background-attachment: fixed; 
  color: $red;
  font-size: 60px;
  text-shadow: 1px 1px #fff;
}

cite {
  display: block;
  font-size: 20px;
}