@charset "utf-8";
@import"compass";
@import"reset";
@import "config";
@import "mixins";
@import "grid";
@import "patterns";
@import "helpers";
@import "nv.d3.min";

@import url(http://fonts.googleapis.com/css?family=Playfair+Display:400,700italic,900italic);
@import url(http://fonts.googleapis.com/css?family=Abril+Fatface);
@import url(http://fonts.googleapis.com/css?family=Vollkorn:400italic,700italic,400,700);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$main-color: #378dca;
$accent-color: #f9f3af;
$background: #f4f4f4;
$red: #f02f30;

$headline: "Oswald";

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

h2 {
  font-family: $headline;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 20px;
  letter-spacing: 1px;
  @media(max-width: $break-medium) {
    font-size: 30px;
  }
}

p {
  font-family: "Vollkorn";
  font-size: 20px;
  line-height: 32px;
  color: #333;
  margin-bottom: 30px;
}

em {
  font-style: italic;
  color: $red;
  font-size: 24px;
  background-color: $accent-color;
  padding: 0 5px;
}

strong {
  color: $main-color;
  font-size: 30px;
  display: block;
}

.segway {
  font-size: 22px;
  text-align: center;
  line-height: 30px;
  font-style: italic;
  color: #555;
}

.grid {
  @extend %grid;
}

.m-three {
  @extend %grid-u-1-3;
  margin: 0 auto;
  padding: 50px;
  @media(max-width: $break-medium) {
    padding: 0 20px;
  }
}

.m-two {
  @extend %grid-u-1-2;
  margin: 0 auto;
}

.m-two-five {
  @extend %grid-u-2-5;
  margin: 0 auto;
  @media(max-width: $break-medium) {
    padding: 0 20px;
  }
}

.m-one {
  @extend %grid-u-4-5;
  margin: 0 auto;
  @media(max-width: $break-medium) {
    padding: 0 20px;
  }
}

// .vertical-center {
//   position: relative;
//   top: 50%;
//   -webkit-transform: translateY(-50%);
//   -ms-transform: translateY(-50%);
//   transform: translateY(-50%);
// }

.m-hero {
  // background: url(../images/ramla-color.jpg);
  // @include prefix(background-size, cover);
  background: $red;
  background-attachment: fixed;
  background-position: top;
}

.m-hero__title {
  @extend %p-fade-in;
  color: $background;
  font-family: $headline;
  font-size: 140px;
  line-height: 150px;
  // font-style: italic;
  font-weight: 900;
  text-transform: uppercase;
  margin: 0 auto;
  opacity: 0;
  padding: 7% 10% 8% 10%;
  @media(max-width: $break-medium) {
    font-size: 60px;
    line-height: 70px;
  }
}

.m-section {
  @extend %clearfix;
  width: 100%;
  background-color: $background;
  padding: 100px 0;
  &.red {
    background-color: $red;
    color: #fff;
  }
  &.blue {
    background-color: $main-color;
  }
  border-top: 5px solid $accent-color;
}

.m-section__intro {
  p:nth-child(1):first-letter { 
    float: left; 
    color: $main-color;
    font-size: 100px;
    font-weight: 900;
    font-family: "Playfair Display";
    line-height: 85px;
    padding: 0 10px 0px 5px;
  }
  padding: 0 0 100px 0;
}

.dek {
   font-size: 45px;
   line-height: 50px;
   text-align: center;
   color: #ccc;
   font-style: italic;
   padding: 100px 0 50px 0;
}

.m-section__quote {
  position: relative;
  font-family: "Vollkorn";
  font-style: italic;
  font-weight: 400;
  &.quote-right {
    float: right;
    margin-top: 5%;
    max-width: 700px;
    margin-right: 5%;
  }

  &.quote-center {
    font-size: 40px;
    line-height: 50px;
    
    .black &, .blue &{
      color: #fff;
      cite {
        color: #fff;
      }
    }

  }

  &.quote-left {
    float: left;
    max-width: 700px;
    margin-top: 20%;
    margin-left: 5%;
    
    }
}

.julie {
  background: url(../images/julie.jpg); 
  @include prefix(background-size, cover);
  background-attachment: fixed; 
  color: #000;
  font-size: 30px;
  line-height: 40px;
  // text-shadow: 1px 1px #fff;
}

.ngan {
  background: url(../images/ngankat2.jpg); 
  @include prefix(background-size, cover);
  background-attachment: fixed; 
  color: $red;
  font-size: 60px;
  text-shadow: 1px 1px #fff;
}

.ramla {
    background: url(../images/ramla.jpg); 
  @include prefix(background-size, cover);
  background-attachment: fixed; 
  color: #fff;
  font-size: 30px;
  line-height: 40px;
    text-shadow: 1px 1px #000;

}

cite {
  display: block;
  font-size: 18px;
  margin-top: 20px;
  font-style: italic;
}


#degrees {
  height: 100%;
  min-height: 500px;
}

.break {
  height: 100px;
}