---
title: Women in Tech
---

<div class="m-hero">
  <h1 class="m-hero__title">
    Why aren't there more women in tech?
  </h1>
</div>

<section class="m-section m-section__intro grid">
  <div class="m-three">
    <div class="vertical-center">
    <p>
      Computer science degrees are some of the most promising in terms of finding employment after graduation. These along with other STEM degrees offer the highest income and greatest flexibility. However, they are just not attracting the same (or even close) amount of woman and men.
    </p>
    <p>
      There is a serious lack of women within the tech industry — especially the start up scene. Some women may be deterred from the “boys club” this industry has become, others might not be aware that these types of jobs exist at all. The truth remains the same: we need more women in tech and and there is no one solution.
    </p>
  </div>
  </div>
</section>

<section class="m-section ngan">
  <h3 class="m-section__quote quote-right">"0.4 percent of female college freshmen say they intend to major in computer science"</h3>
</section>

<section class="m-section">
  <h3 class="m-section__quote quote-center">
    “I’ve been a programmer for 13 years, and I’ve always been one of the only women and queer people in the room. I’ve been harassed, I’ve had people make suggestive comments to me, I’ve had people basically dismiss my expertise. I’ve gotten rape and death threats just for speaking out about this stuff.”
  </h3>
  - Ashe Dryden
</section>

<section class="m-section black grid">
  <div class="m-one">
  <div class="vertical-center">
    <h3 class="m-section__quote quote-center">
      "New research shows that there is no statistically significant difference in earnings between male and female engineers who have the same credentials and make the same choices regarding their career."
    </h3>
  </div>
</div>
</section>

<section class="m-section julie">
  <h3 class="m-section__quote quote-right">
“But I don’t want to raise my hand and call negative attention toward myself, and become the woman who is the problem — ‘that woman.’ In start-up culture they protect their own tribe, so by putting my hand up, I’m saying I’m an ‘other,’ I shouldn’t be there, so for me that’s an economic threat.”

- Julie Ann Horvath
</h3>
</section>

