---
title: Women in Tech
---

<nav>
  <ul>
    <li><a href="#intro">intro</a></li>
    <li><a href="#stories">stories</a></li>
    <li><a href="#education">education</a></li>
    <li><a href="#issues">issues</a></li>
    <li><a href="#ratio">ratio</a></li>
    <li><a href="#quitting">leaving</a></li>
    <li><a href="#solutions">solutions</a></li>
    <li><a href="#todo">help</a></li>
  </ul>
</nav>

<div class="m-hero">
  <h1 class="m-hero__title">
    We need more women in tech
  </h1>
  <a class="down" href="#intro"></a>

</div>

<section id="intro" class="m-section grid">
  <div class="m-one">
      <p class="dek">An in-depth look at the gender gap in the tech industry</p>
  </div>

  <div class="m-two-five">

    <div class="vertical-center m-section__intro">
    <p>
      Computer science degrees are some of the most promising in terms of finding employment after graduation. These along with other STEM degrees offer the highest income and greatest flexibility. However, they are just not attracting the same (or even close) amount of woman and men.
    </p>
    <p>
      There is a serious lack of women within the tech industry — especially the start up scene. Some women may be deterred from the “boys' club” this industry has become, others might not be aware that these types of jobs exist at all. The truth remains the same: we need more women in tech and and there is no one solution.
    </p>
  </div>
  </div>
</section>

<section class="m-section ngan">
  <div class="m-section__quote quote-right">
    <h3>
      “It’s a boys’ club, and you have to try to get into it, and they’re trying as hard as they can to prove you can’t”
    </h3>
    <cite>&mdash; Ephrat Bitton, the director of algorithms at FutureAdvisor</cite>
  </div>
</section>

<section id="stories" class="m-section grid">
  <div class="m-two-five">
    <h2>Their stories</h2>
  </div>
</section>

<section class="m-section">
  <div id="education">
<h2>It starts with education</h2>
<h4>What Undergraduates are Studying</h4>
<div id="degrees">
  <svg></svg>
</div>
<!-- <div id="humanSciences">
  <h4>Health and Human Sciences</h4>
  <svg></svg>
</div> -->


<!--    <div id="chartContainer" style="height: 600px; width: 100%;">
   </div> -->
  <div class="break"></div>

     <h2>The Pipeline Problem</h2>

  <div class="grid">
    <div class="m-two-five">
      <p>9% of college graduates are majoring in computer science or engineering, only 17% of these graduates are female. According to the National Center for Education Statistics, women tend to major in health professions, social services, education, and psychology while men tend to major in computer sciences, physical sciences, fitness studies, and agriculture.</p>
      <p>This is called The Pipeline Problem &mdash; this means that because there aren't many women studying engineering, there are just not women available to fill these positions.</p>
    </div>
  </div>
</div>
  <div id="engineering">
  <h4>Engineering/Computer Science</h4>
  <svg></svg>
</div>
  <div class="break"></div>
  <div id="issues">
  <h2>What's stopping them?</h2>
  <div class="grid">
    <div class="m-three">
      <p><strong>Issue #1:</strong>People actually believe that men have a genetic advantage in math and science related field.</p>
    </div>
    <div class="m-three">
      <p><strong>Issue #2:</strong> Because there are not many women in executive roles at tech companies, women are extremely underrepresented and some may not even realize these jobs are an option for them.</p>
    </div>
    <div class="m-three">
      <p><strong>Issue #3:</strong> 44% of US women believe they have to act like a man to progress in the field.</p>
    </div>
  </div>
  </div>
</section>
<section class="m-section grid ramla">
  <div class="m-one">
      <h3 class="m-section__quote quote-center">
        “I’ve been a programmer for 13 years, and I’ve always been one of the only women and queer people in the room. I’ve been harassed, I’ve had people make suggestive comments to me, I’ve had people basically dismiss my expertise. I’ve gotten rape and death threats just for speaking out about this stuff.”
      </h3>
      <cite>- Ashe Dryden, Programmer</cite>
  </div>
</section>
<section class="m-section">
  <div id="ratio">
  <h2>Woman:Man Ratio in Tech</h2>
  <div class="image-wrap">
      <img src="<%= image_path("women-percent.svg") %>">
    </div>

  <div class="grid">
    <div class="m-two-five">
      <p>Tech companies employ an average of <span class="percent">12%</span> women. The companies that have the most women, are the ones that are led by women.  Smaller teams tend to have a better male to female developer ratio, but as they grow, this percentage shrinks.</p>
    </div>
  </div>
  <div id="womenPerTeam">
    <h4>Percentage of Women on Engineering teams</h4>
  <svg></svg>
</div>
</div>
  <div class="break"></div>

  <div class="grid">

  <div id="quitting" class="m-two-five">
    <h2>Why don't women stay?</h2>
    <p><span class="percent">56%</span> of women will quit engineering jobs within the first year of starting their career.</p>
    <p>
      Start ups have many qualities that allow for sexist problems to go without mention. Founders and employees are generally friends, which causes a blurry line between work and social life. Most small tech companies don’t have HR departments where employees feeling attacked or alone can turn to.
    </p>
    <p>
      It can be hard for women to voice their opinions and concerns to a company that is so heavily male dominated.
    </p> 
  </div>
</div>
<!--   <div id="womenQuitting">
    <h4>Percentage of Women Quitting STEM Jobs</h4>
  <svg></svg>
</div> -->
</section>

<section class="m-section julie">

  <h3 class="m-section__quote quote-left">
“But I don’t want to raise my hand and call negative attention toward myself, and become the woman who is the problem — ‘that woman.’ In start-up culture they protect their own tribe, so by putting my hand up, I’m saying I’m an ‘other,’ I shouldn’t be there, so for me that’s an economic threat.”
<cite>- Julie Ann Horvath, Designer &amp; Engineer previously of GitHub</cite>
</h3>

</section>
<section class="m-section">
<div id="solutions">
  <h2>The future</h2>
  <div class="grid">

  <div class="m-two-five">
    <p>
      There’s no one perfect solution to bring more women into technical fields. Each year, the statistics are improving, and more women are joining the industry. The most important step is to be sure that women are comfortable in these positions and feel like they can fit in and advance in these tech cultures.
    </p>
    <p>
      Women make up half of the population, and half of the work force. There are xxx jobs in engineering and not enough people to fill them. We need to make the tech industry appealing to all or we will never fill the need for more engineers.
    </p>
  </div>
</div>
</div>
<div class="break"></div>
<div id="todo">
  <h2>Support groups like these</h2>

  <div class="grid m-section__todo">
    <div class="m-three">
      <a target="_blank" href="http://changetheratio.tumblr.com/" rel="nofollow">Change the Ratio</a> <a target="_blank" href="http://www.pipelinefellowship.com/" rel="nofollow">Pipeline Fellowship</a>
    </div>
    <div class="m-three">
      <a target="_blank" href="http://www.blackgirlscode.com/%E2%80%8E" rel="nofollow">Black Girls Code</a>
      <a target="_blank" href="http://girlswhocode.com/%E2%80%8E" rel="nofollow">Girls Who Code</a>
    </div>
    <div class="m-three">
      <a target="_blank" href="http://www.girldevelopit.com/">Girl Develop It</a>
      <a target="_blank" href="http://www.mothercoders.org/%E2%80%8E" rel="nofollow">Mother Coders</a>
    </div>
  </div>
</section>

<section class="m-section red grid">
  <div class="m-one">
    <h1>We need to support, encourage, and treat women equally. We need to highlight female engineers as role models. We need more women in tech, and we need your help.</h1>
</div>
</section>

<footer>
  <div class="grid">
    <div class="m-three">
      <h2>About the Project</h2>
      <p>This project was made as my senior design final in May 2014. I wanted to use this as a way  to learn how to work with data and data libraries all while producing something about a field that I’m extremely passionate in.</p>
    </div>    
    <div class="m-three">
      <h2>About the Author</h2>
      <p>I’m Ally Palanzi, a front-end engineer in Washington, DC with a mission to bring more women into technology. I’m active in DC Fem Tech, Girl Develop It, and in the process of starting DC’s first Girls Who Code chapter.</p>
    </div>    
    <div class="m-three">
      <h2>More Info</h2>
    </div>
  </div>
  </footer>



