---
title: Women in Tech
---

<div class="m-hero">
  <h1 class="m-hero__title">
    Why aren't there more women in tech?
  </h1>
</div>

<section class="m-section m-section__intro grid">
  <div class="m-three">
    <div class="vertical-center">
    <p>
      Computer science degrees are some of the most promising in terms of finding employment after graduation. These along with other STEM degrees offer the highest income and greatest flexibility. However, they are just not attracting the same (or even close) amount of woman and men.
    </p>
    <p>
      There is a serious lack of women within the tech industry — especially the start up scene. Some women may deterred from the “boys club” this industry has become, others might not be aware that these types of jobs exist at all. The truth remains the same: we need more women in tech and and there is no one solution.
    </p>
  </div>
  </div>
</section>

<section class="m-section ngan">
  <h3 class="m-section__quote quote-right">"0.4 percent of female college freshmen say they intend to major in computer science"</h3>
</section>

<section class="m-section">
</section>

<section class="m-section black grid">
  <div class="m-one">
  <div class="vertical-center">
    <h3 class="m-section__quote quote-center">
      "New research shows that there is no statistically significant difference in earnings between male and female engineers who have the same credentials and make the same choices regarding their career."
    </h3>
  </div>
</div>
</section>

