---
title: Women in Tech
---

<div class="m-hero">
  <h1 class="m-hero__title">
    Why aren't there more women in tech?
  </h1>
</div>

<section class="m-section m-section__intro grid">
  <div class="m-three">
    <div class="vertical-center">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum, perspiciatis libero soluta quisquam enim eius earum saepe repellendus ipsum at nesciunt nihil dicta impedit dolor itaque iure nam natus voluptas. libero soluta quisquam enim eius earum saepe repellendus ipsum at nesciunt nihil dicta impedit dolor itaque iure nam natus voluptas.
    </p>
  </div>
  </div>
</section>

<section class="m-section black">
  <h3 class="m-section__quote">"0.4 percent of female college freshmen say they intend to major in computer science"</h3>
</section>

